@font-face {
    font-family: "mullerregular";
    src: url(/fonts/MullerRegular.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 400;

}

@font-face {
    font-family: "mullerbolt";
    src: url(/fonts/MullerBold.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Sofia Sans";
    src: url(/fonts/SofiaSans.ttf);
    font-display: swap;
    font-style: normal;
    /* font-weight: 400; */
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 400, 600;
}

:root {
    --section-width: 320px;
    --section-first-height: 588px;
    --clic-width: 313px;
    --logoteef-width: 33.39px;
}


.first-screen {
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    BACKGROUND-SIZE: 384%;
    width: var(--section-width);
    height: var(--section-first-height);
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.logo {
    position: absolute;
    width: 33.39px;
    height: 34.67px;
    left: 0px;
    top: 0.64px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-decoration: none;
}

.logoteef {
    width: 33.39px;
    height: 34.67px;
    display: flex;
    position: absolute;
    width: 183px;
    height: 39.16px;
    left: 0px;
    top: 30px;

}



.textlogo {
    /* box-sizing: border-box; */
    text-decoration: none;
    display: flex;
}

.textlogo>div:first-child {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 129px;
    height: 23px;
    left: 36.6px;
    top: 0px;

    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.6926px;
    line-height: 140%;
    color: #46b1de;
}

.textlogo>div:nth-child(2) {
    position: absolute;
    width: 36px;
    height: 16px;
    left: 36.6px;
    top: 17.33px;

    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11.5564px;
    line-height: 140%;
    /* or 16px */


    color: #46B1DE;
}

.contact>a {
    /* display: none; */
    color: black;
    margin: 0 12px;
    text-decoration: none;
}



.phone {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 127px;
    height: 15px;
    left: 186px;
    top: 34px;

    color: black;
    text-decoration: none;

}

.phone>a {
    text-decoration: none;
    color: #1B1D1F;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

}

.phone>picture {

    background-image: url(./img/phone.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size: 90%;
}




.uptext {
    display: flex;
    flex-direction: column;
}

.text {
    position: absolute;
    width: calc(var(--section-width)- 36px);
    height: calc(568px - 500px);
    left: 18px;
    top: 116px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;

    /* Черный текст */

    color: #1B1D1F;
    display: flex;
    flex-direction: column;
}

.undertext {
    position: absolute;
    width: 281.21px;
    height: 68px;
    left: 19px;
    top: 210px;
    text-transform: uppercase;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    display: flex;
    color: #1B1D1F;
    flex-direction: row;

}

.text>b {


    color: #46b1de;
    text-align: left;
}



.clic {
    grid-area: clic;
    margin: 1px 24px;
    display: flex;
    justify-content: space-around;
    width: var(--clic-width);
    flex-direction: row;
}

.clic>a:first-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.15556px 20.0278px;
    gap: 5.72px;
    position: absolute;
    width: 100px;
    height: 35px;
    left: 10px;
    top: 288px;
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 1.14444px 5.72222px #46B1DE;
    border-radius: 4.57778px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.clic>a:last-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.15556px 20.0278px;
    gap: 10px;

    position: absolute;
    width: 100px;
    height: 35px;
    left: 210px;
    top: 288px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #DDE0DC;
    box-shadow: 0px 1.14444px 5.72222px #DDE0DC;
    border-radius: 8px;
    ;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    color: #46B1DE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.lady>picture {
    background-image: url(./img/lady.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 208px;
    height: 199px;
    left: 48px;
    top: 376px;
}

.windovsnumbers {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    background: #A1C7D4;
    border-radius: 12px;

}


.windovsnumbers>span {
    width: 300px;
    height: 176px;


    background: #FFFFFF;
    border-radius: 8px;
    padding: 1%;
    margin: 3%;
    box-sizing: border-box;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Черный текст */

    color: #1B1D1F;

    flex-direction: column;

    background: #FFFFFF;
    border-radius: 8px;
}

.windovsnumbers>span:nth-child(2) {
    order: 2;
}

.windovsnumbers>span:first-child {
    order: 1;
}

.windovsnumbers>span:nth-child(3) {
    order: 3;
}

.windovsnumbers>span:nth-child(4) {
    order: 4;
}

.windovsnumbers>span:nth-child(5) {
    order: 5;

}

.windovsnumbers>span:nth-child(6) {
    order: 6;

}

.windovsnumbers>span>b {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 60px;
    margin: 0 11%;
    width: 87%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    /* Синий */

    color: #46B1DE;
    margin-bottom: 6%;

}

.windovsnumbers>span>b>i {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Синий */

    color: #46B1DE;

    padding: 4px;
    margin-right: 6%;
    font-style: normal;

}

.list>h2 {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;

}

.list>h2>b {
    color: #46b1de;
}


.list>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

}

.user {
    height: 329px;
    width: var(--section-width);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user div:first-child {

    width: 300px;
    height: 42px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #1B1D1F;
}

.user div:nth-child(2) {

    width: 306px;
    height: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    color: #1B1D1F;

}

.input {
    box-sizing: border-box;
    position: relative;
    width: var(--section-width);
    height: 333px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    box-sizing: border-box;
}

.user>span {
    display: flex;
    width: 233px;
    height: 57px;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    position: relative;
    text-align: center;
    margin: 4%;
}

input#name {
    border: transparent;
    background-color: transparent;
    height: 48px;
    position: absolute;
    left: 54px;
    outline: none;
}


.userimg {
    background-image: url(./img/user\ 4.svg);
    background-repeat: no-repeat;
    width: 26.15px;
    height: 23px;
    position: absolute;
    top: 19px;
    left: 7px;
}

.user>span picture::before {
    content: "\2758";
    position: absolute;
    left: 28px;
    font-size: xx-large;
    top: -11px;
}

input#phone {
    border: transparent;
    background-color: transparent;
    height: 54px;
    position: absolute;
    left: 54px;
    outline: none;
}

.userphone {
    background-image: url(./img/-phone-in-talk_90490\ 4.svg);
    background-repeat: no-repeat;
    width: 26.15px;
    height: 23px;
    position: absolute;
    top: 19px;
    left: 7px;
    order: 2;
}

.clicuser {
    order: 3;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 57px;
    background: #46B1DE;
    border-radius: 8px;
}

input#singup {
    width: 84px;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: transparent;
    border: transparent;
    outline: none;
}

.fotosect {
    width: var(--section-width);
    height: 460px;
}

.foto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 453px;
    align-items: center;
}

.foto>picture:first-child {
    background-image: url(./img/1foto.png);
    background-repeat: no-repeat;
    width: 280px;
    height: 128px;
    order: 1;
}

.foto>picture:nth-child(2) {
    background-image: url(./img/2foto.png);
    background-repeat: no-repeat;
    width: 280px;
    height: 128px;
    order: 2;
}

.foto>picture:nth-child(3) {
    background-image: url(./img/3foto.png);
    background-repeat: no-repeat;
    width: 280px;
    height: 128px;
    order: 3;
}



footer {
    text-transform: none;
    position: relative;
    width: 320px;
    height: 568px;

    background: linear-gradient(180deg, #A1C7D4 0%, #0680AA 100%);



}

.header {
    position: absolute;
    width: 303.28px;
    height: 64.91px;
    left: 8px;
    top: 30px;
    display: flex;
}

.header div>p:nth-child(1) {
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 140%;
    display: flex;
    flex-direction: row;
    margin: 0;


}

.logofooter {
    background-image: url(./img/tooth.png);
    background-repeat: no-repeat;
    width: 55.33px;
    height: 57.46px;
    left: 0px;
    top: 1.06px;
    background-size: 100%;

}

.header div>p:nth-child(2) {


    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19.1523px;
    line-height: 140%;
}

.servises1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 54px;
    height: 52.26px;
    left: 10.14px;
    top: 116.3px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.2648px;
    line-height: 135%;

}

.servises1 .uaen {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 53px;
    height: 16px;
    left: 10px;
    top: 189px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.servises1>span>p:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.workhoursfooter {
    position: absolute;
    width: 97px;
    height: 17px;
    left: 180.52px;
    top: 142.69px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14.2648px;
    line-height: 17px;
}

.workhoursfooter div:nth-child(2) {
    position: absolute;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.2648px;
    line-height: 135%;
}

.Contacts h4 {
    color: #FFFFFF;
    position: absolute;
    width: 108px;
    height: 25px;
    left: 12px;
    top: 249px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
}

.footertesla>a {
    text-decoration: none;
}

.Contacts>.footertesla {
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    width: 247.98px;
    height: 170px;
    left: 10px;
    top: 300.48px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17.1613px;
    line-height: 135%;

}

.phonefooter {
    display: flex;
    /* margin: 12px; */

}


.phonefooter>a {
    text-decoration: none;
    color: beige;
    /* padding-top: 6px; */
}

.phonefooter a::before {
    content: url(./img/phone.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
}

.phonefooter a:hover {
    border-bottom: white solid 4px;
    cursor: pointer;
    padding-bottom: 3px;
}

/* .phonefooter>a::after:hover{
    cursor: pointer;
    border-bottom: #DDE0DC solid 3px;
} */
.imgfooter {
    display: flex;
    justify-content: space-between;
    width: 133px;


}

.imgfooter a:not(:first-child) {
    padding-left: 31px;
    box-sizing: border-box
}

.imgfooter>a:nth-child(3) {
    height: 28px;
    background-image: url(./img/whatsapp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 28PX;
}

.imgfooter>a:nth-child(1) {
    height: 28px;
    background-image: url(./img/telegram.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 28px;
}

.imgfooter>a:nth-child(2) {
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./img/viber.png);

}

.instagramfooter {
    height: 27px;


    /* margin: 12px; */

    display: flex;
}

.instagramfooter>a {
    text-decoration: none;
    color: beige;
    /* padding-top: 6px; */
}

.instagramfooter a::before {
    content: url(./img/instagram.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;

}

.instagramfooter a:hover {
    border-bottom: white solid 4px;
    cursor: pointer;
    padding-bottom: 3px;
}

.emeilfooter {
    height: 27px;
    /* margin: 12px; */
    display: flex;
    flex-direction: row;
}

.emeilfooter>a {
    text-decoration: none;
    color: beige;
    /* padding-top: 6px; */
}

.emeilfooter::before {
    padding-left: 0;
    /* padding-right: 3px; */
    content: url(./img/email.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 28px;
}

.emeilfooter a:hover {
    border-bottom: white solid 4px;
    cursor: pointer;
    padding-bottom: 9px;
}

.copy {



    position: absolute;
    width: 86.66px;
    height: 15px;
    left: 189.34px;
    top: 516.72px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11.1548px;
    line-height: 130%;
}

.teefsection {
    height: fit-content;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle {
    position: relative;
    height: 302px;
    width: 302px;
    /* position: absolute; */
    top: 183px;
    left: 535px;
    border-radius: 50%;
    border: 1px solid #1B1D1F;
    box-sizing: border-box;
    background-image: url(./img/Rectangle\ 35.png);
    background-repeat: no-repeat;
    background-position: center;
}

.circle div:nth-child(2) {
    position: absolute;
    border-radius: 50%;

    top: 27px;
    left: 33px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image: url(./img/+.png);
    background-color: #46B1DE;
    background-repeat: no-repeat;
    background-position: center;

}

.circle div:nth-child(3) {
    position: absolute;
    border-radius: 50%;
    left: -14px;
    top: 139px;

    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image: url(./img/+.png);
    background-color: #46B1DE;
    background-repeat: no-repeat;
    background-position: center;

}

.circle div:nth-child(4) {
    position: absolute;
    border-radius: 50%;

    left: 33px;
    top: 248px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image: url(./img/+.png);
    background-color: #46B1DE;
    background-repeat: no-repeat;
    background-position: center;

}

.circle div:nth-child(5) {
    position: absolute;
    border-radius: 50%;
    right: -14px;
    top: 139px;

    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image: url(./img/+.png);
    background-color: #46B1DE;
    background-repeat: no-repeat;
    background-position: center;

}




.circle div:nth-child(6) {
    position: absolute;
    border-radius: 50%;

    top: 248px;
    right: 33px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image: url(./img/+.png);
    background-color: #46B1DE;
    background-repeat: no-repeat;
    background-position: center;

}

.circle div:last-child {
    position: absolute;
    border-radius: 50%;

    top: 27px;
    right: 32px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image: url(./img/+.png);
    background-color: #46B1DE;
    background-repeat: no-repeat;
    background-position: center;

}

.teefsection h5 {
    margin-top: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #46B1DE;
    text-align: center;
    margin-bottom: 1px;
    box-sizing: border-box;
}

.teefsection h5:nth-child(3) {
    position: absolute;
    top: 180px;
    left: 346px;
    width: 187px;
    height: 27px;
}

.teefsection h5:nth-child(5) {
    position: absolute;
    top: 323px;
    left: 329px;
    width: 151px;
    height: 27px;
}

.teefsection h5:nth-child(7) {
    position: absolute;
    top: 471px;
    left: 264px;
    width: 316px;
    height: 27px;
}

.teefsection h5:nth-child(9) {
    position: absolute;
    top: 471px;
    left: 815px;
    width: 170px;
    height: 27px;
}

.teefsection h5:nth-child(11) {
    position: absolute;
    top: 320px;
    left: 910px;
    width: 223px;
    height: 27px;
}

.teefsection h5:nth-child(13) {
    position: absolute;
    top: 180px;
    left: 855px;
    width: 133px;
    height: 27px;
}

.teefsection p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
}

.teefsection p:nth-child(4) {
    position: absolute;
    top: 212px;
    left: 195px;
    width: 338px;
    height: 80px;

}

.teefsection p:nth-child(6) {
    position: absolute;
    top: 355px;
    left: 202px;
    width: 283px;
    height: 87px;
}

.teefsection p:nth-child(8) {
    position: absolute;
    top: 503px;
    left: 284px;
    width: 295px;
    height: 80px;
}

.teefsection p:nth-child(10) {
    position: absolute;
    top: 212px;
    left: 855px;
    width: 308px;
    height: 77px;
}

.teefsection p:nth-child(12) {
    position: absolute;
    top: 352px;
    left: 914px;
    width: 291px;
    height: 74px;
}

.teefsection p:nth-child(14) {
    position: absolute;
    top: 503px;
    left: 815px;
    width: 290px;
    height: 83px;
}



@media (max-width: 320px) {
    .percentages {
        display: none
    }

    .contact {
        display: none
    }

    .teefsection {
        display: none;
    }
}

@media (max-width: 500px) {
    .percentages {
        display: none
    }

    .contact {
        display: none
    }

    .teefsection {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    :root {
        --section-width: 1400px;
        --clic-width: 500px;
        --section-first-height: 800px;
    }

    .first-screen {
        background-image: url(./img/background.jpg);
        background-repeat: no-repeat;
        BACKGROUND-SIZE: 100%;
        width: var(--section-width);
        height: var(--section-first-height);

    }

    .logo {

        display: flex;
        justify-content: space-between;
        text-decoration: none;
        position: absolute;
        width: 1080px;
        height: 91px;

    }

    .logoteef {

        position: absolute;
        width: 425.22px;
        height: 91px;
        left: 110px;
        top: 60px;
    }



    .textlogo div:first-child {
        grid-area: textlogo;
        box-sizing: border-box;
        position: absolute;
        width: 315px;
        height: 53px;
        left: 85px;
        top: 0px;
        font-family: 'Sofia Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 140%;
        /* or 53px */
        color: #46B1DE;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .textlogo div:nth-child(2) {
        position: absolute;
        width: 84px;
        height: 38px;
        left: 85.03px;
        top: 40.28px;
        font-family: 'Sofia Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 26.8525px;
        line-height: 140%;
        /* identical to box height, or 38px */
        color: #46B1DE;
    }

    .contact {
        grid-area: contact;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 80px;

        position: absolute;

        width: 350px;
        height: 19px;
        left: 613px;
        top: 78px;



    }

    .contact>a {
        margin: 0 12px;
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #1B1D1F;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .contact a:hover {
        cursor: pointer;
        color: #46B1DE;
    }



    .phone {

        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 199px;
        height: 24px;
        left: 1016px;
        top: 76px;

        color: black;

    }

    .phone>a {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        text-align: center;

        color: #1B1D1F;
    }

    .phone>a::before {
        content: url(./img/phone.svg);
        margin-right: 5px;
        width: 24px;
        height: 24px;
    }

    .en {
        position: absolute;
        top: 77px;
        right: 110px;
        width: 77px;
        height: 23px;
    }

    .en .uaen {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }



    .en .uaen p:first-child {
        box-sizing: border-box;
        margin: 0;

        width: 27px;
        height: 23px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;

        color: #000000;
    }

    .en .uaen p:last-child {
        box-sizing: border-box;
        margin: 0;

        width: 26px;
        height: 23px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
    }

    .en .uaen p:hover {
        cursor: pointer;
        color: white;
    }



    .what {
        left: 426px;
        top: 90px;
        position: absolute;
        width: 493px;
        height: 40px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        color: #1B1D1F;

    }

    .what>b {
        color: #46B1DE;
    }

    .text {
        position: absolute;
        width: 530px;
        height: 158px;
        left: 110px;
        top: 185px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.1em;
        text-align: left;
        color: #1B1D1F;
    }



    .undertext {
        position: absolute;
        width: 464px;
        height: 66px;
        left: 110px;
        top: 373px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        line-height: 140%;

        color: #1B1D1F;
        grid-area: undertext;
    }

    .clic {
        grid-area: clic;
        margin-top: 487px;
        display: flex;
        justify-content: space-around;
        width: 313px;
        flex-direction: row;

    }

    .clic>a:first-child {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 35px;
        gap: 10px;
        position: absolute;
        width: 180px;
        height: 60px;
        left: 110px;
        top: 487px;
        background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
        box-shadow: 0px 2px 10px #46B1DE;
        border-radius: 8px;
        text-decoration: none;
    }

    .clic>a:last-child {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 35px;
        gap: 10px;
        position: absolute;
        width: 180px;
        height: 60px;
        left: 410px;
        top: 487px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 1px solid #DDE0DC;
        box-shadow: 0px 2px 10px #DDE0DC;
        border-radius: 8px;
    }

    .percentages {
        grid-area: percentages;
        display: grid;
        justify-content: space-evenly;
        box-sizing: border-box;
        margin-top: 601px;
        width: 900px;

    }



    .percentages>span:first-child {
        background-color: white;
        box-sizing: border-box;
        border: 2px solid gray;
        display: flex;
        height: 100px;
        width: 241px;
        font-size: smaller;
        grid-column-end: 1;
        border-radius: 2em;

    }

    .percentages>span:nth-child(2) {
        grid-column-end: 5;
        display: flex;
        box-sizing: border-box;
        background-color: white;
        box-sizing: border-box;
        border: 2px solid gray;
        height: 100px;
        width: 241px;
        font-size: smaller;
        z-index: 1;
        border-radius: 2em;
    }

    .percentages>span:nth-child(3) {

        grid-column-end: 8;
        display: flex;
        background-color: white;
        box-sizing: border-box;
        border: 2px solid gray;
        height: 100px;
        width: 241px;
        font-size: smaller;
        z-index: 1;
        border-radius: 2em;
    }

    .percentages>span>b {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 76px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #46B1DE;
    }

    .percentages>span div {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding: 15% 13px;
        color: #1B1D1F;
    }


    .lady>picture {
        background-image: url(./img/lady.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 572px;
        height: 530.77px;
        left: 718px;
        top: 143px;

    }

    .percentages {
        display: grid;
        justify-content: space-evenly;
        box-sizing: border-box;
        width: 900px;
    }

    .percentages>span:first-child {
        background-color: white;
        box-sizing: border-box;
        position: absolute;
        width: 280px;
        height: 120px;
        left: 210px;
        top: 601px;

        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        grid-column-end: 1;
    }

    .percentages>span:nth-child(2) {
        grid-column-end: 5;
        display: flex;
        box-sizing: border-box;
        background-color: white;
        box-sizing: border-box;
        border: 2px solid gray;
        box-sizing: border-box;
        position: absolute;
        width: 280px;
        height: 120px;
        left: 560px;
        top: 601px;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        font-size: smaller;
        z-index: 1;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1B1D1F;
    }

    .percentages>span:nth-child(3) {
        grid-column-end: 8;
        display: flex;
        box-sizing: border-box;
        position: absolute;
        width: 280px;
        height: 120px;
        left: 910px;
        top: 601px;

        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        text-align: center;
        z-index: 1;
    }

    .percentages>span>b {
        color: #46b1de;
        font-weight: 800;
        font-size: xxx-large;
        padding: 1px 4px;
        font-family: 'mullerbolt';
    }

    .list>h2 {
        margin-left: 354px;
    }

    .list>P {
        margin: 0 394PX;
        width: 612px;
        height: 44PX;
        margin-bottom: 50px;
    }

    .windovsnumbers {
        margin: 0 190px;
    }

    .input {
        box-sizing: border-box;
        width: 845px;
        height: 269px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        backdrop-filter: blur(2px);
        border-radius: 10px;
        padding: 1%;
        margin-top: 82px;
        margin-left: 280px;
        margin-right: 299px;
    }

    .user {
        box-sizing: border-box;
        position: relative;
        width: 821px;
        height: 247px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        position: relative;
    }

    .user>div:first-child {
        position: absolute;
        top: 29px;
        left: 25px;
        width: 763px;
        height: 42px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #1B1D1F;
        border-radius: 10px;
    }

    .user>div:nth-child(2) {
        position: absolute;
        top: 79px;
        left: 6px;
        width: 801px;
        height: 22px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #1B1D1F;
    }

    .user .name {
        position: absolute;
        top: 145px;
        left: 18px;
        right: 570px;
        width: 233px;
        height: 57px;
        background: rgba(217, 217, 217, 0.71);
        border-radius: 8px;
        margin: 0;
        border: #000000 0px;
    }

    .user .name:hover {
        cursor: pointer;
        border: #46B1DE solid 1px;
    }

    .user .phoneuser {
        position: absolute;
        top: 145px;
        left: 320px;
        width: 233px;
        height: 57px;
        background: rgba(217, 217, 217, 0.71);
        border-radius: 8px;
        margin: 0;
    }

    .user .phoneuser:hover {
        cursor: pointer;
        border: #46B1DE solid 1px;
    }

    .user .clicuser {
        position: absolute;
        top: 145px;
        left: 620px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 35px;
        gap: 10px;

        width: 180px;
        height: 57px;
    }

    .fotosect {
        width: var(--section-width);
        height: 309px;
    }

    .foto {
        display: grid;

        width: 1400PX;
        height: 309px;
        grid-template-columns: 233px 280px 69px 280px 69px 280px 233px;
        grid-template-rows: 128px;
        grid-template-areas: " . foto1 . foto2 . foto3 . ";
        margin-top: 90px;
    }

    .tringle>p {
        position: absolute;
        width: 478px;
        height: 33px;
        top: 687px;
        left: 557px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        /* or 28px */


        color: #46B1DE;

    }

    .tringle picture {
        position: absolute;
        width: 105px;
        height: 103px;
        background-image: url(./img/attention-icon-removebg\ 1.png);
        background-repeat: no-repeat;
        top: 642px;
        left: 436px;

    }



    .foto>picture:first-child {
        grid-area: foto1;
    }

    .foto>picture:nth-child(2) {
        grid-area: foto2;
    }

    .foto>picture:last-child {
        grid-area: foto3;
    }

    footer {
        position: relative;
        background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
        width: 1400px;
        height: 400px;

        display: flex;


    }

    .logofooter {
        width: 77.57px;
        height: 80.56px;

        margin: 0;
        flex-direction: column;
    }

    .header>div {
        display: flex;
        flex-direction: column;
    }

    .header div>p:nth-child(1) {
        margin: 0;
        margin-bottom: 2px;
        font-family: 'Sofia Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 38.7869px;
        line-height: 140%;

        display: flex;
        flex-direction: row;
    }

    .header {
        width: 425.22px;
        height: 91px;
        position: absolute;
        top: 60px;
        left: 113px;
        margin: 0;
        display: flex;
    }

    .header div>p:nth-child(2) {
        font-family: 'Sofia Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 26.8525px;
        line-height: 140%;


        margin: 0;
    }


    .servises1>div {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 76px;
        height: 74px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 13px;
        top: 181px;
        left: 116px;

    }

    .servises1>div p {
        color: #1B1D1F;

    }

    .servises1>div p:hover {
        color: white;

    }



    .servises1 .uaen {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 282px;
        left: 113px;
        width: 77px;
        height: 23px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        justify-content: space-evenly;
    }

    .servises1 .uaen p {
        color: black;
    }

    .uaen p:first-child::after {
        content: "|";
        margin-left: 4px;
        height: 22px;
        color: #1B1D1F;

    }

    .servises1 .uaen p:hover {
        cursor: pointer;
        color: #FFFFFF;
    }


    .servises1>.uaen>p:first-child {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;

    }


    .workhoursfooter {
        position: absolute;

        top: 217.99px;
        left: 275px;
    }

    .workhoursfooter div:first-child {
        width: 136px;
        height: 23px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        margin: 0;
    }

    .workhoursfooter div:nth-child(2) {
        width: 128px;
        height: 54px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        margin: 0;
    }

    .Contacts h4 {
        position: absolute;
        top: 60px;
        left: 836px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 40px;
        width: 183px;
        height: 40px;
        text-align: center;
        margin: 0;
    }

    .Contacts>.footertesla {
        height: 247px;
        position: absolute;
        top: 120px;
        left: 830px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 0px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-around;
    }


    .footertesla div {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: 27px;
    }

    .footertesla div:not(:first-child) {
        padding-top: 18px;
        box-sizing: border-box;

    }

    .copy {
        position: absolute;
        top: 372px;
        left: 1045px;
    }

    /* .imgfooter {
        margin: 3px 0;
    } */

    .teefsection {
        height: 833px;
        width: 1400px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .circle {
        position: relative;
        height: 302px;
        width: 302px;
        /* position: absolute; */
        top: 183px;
        left: 535px;
        border-radius: 50%;
        border: 1px solid #1B1D1F;
        box-sizing: border-box;
        background-image: url(./img/Rectangle\ 35.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .circle div:nth-child(2) {
        position: absolute;
        border-radius: 50%;

        top: 27px;
        left: 33px;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-image: url(./img/+.png);
        background-color: #46B1DE;
        background-repeat: no-repeat;
        background-position: center;

    }

    .circle div:nth-child(3) {
        position: absolute;
        border-radius: 50%;
        left: -14px;
        top: 139px;

        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-image: url(./img/+.png);
        background-color: #46B1DE;
        background-repeat: no-repeat;
        background-position: center;

    }

    .circle div:nth-child(4) {
        position: absolute;
        border-radius: 50%;

        left: 33px;
        top: 248px;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-image: url(./img/+.png);
        background-color: #46B1DE;
        background-repeat: no-repeat;
        background-position: center;

    }

    .circle div:nth-child(5) {
        position: absolute;
        border-radius: 50%;
        right: -14px;
        top: 139px;

        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-image: url(./img/+.png);
        background-color: #46B1DE;
        background-repeat: no-repeat;
        background-position: center;

    }




    .circle div:nth-child(6) {
        position: absolute;
        border-radius: 50%;

        top: 248px;
        right: 33px;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-image: url(./img/+.png);
        background-color: #46B1DE;
        background-repeat: no-repeat;
        background-position: center;

    }

    .circle div:last-child {
        position: absolute;
        border-radius: 50%;

        top: 27px;
        right: 32px;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-image: url(./img/+.png);
        background-color: #46B1DE;
        background-repeat: no-repeat;
        background-position: center;

    }

    .teefsection h5 {
        margin-top: 19px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
        color: #46B1DE;
        text-align: center;
        margin-bottom: 1px;
        box-sizing: border-box;
    }

    .teefsection h5:nth-child(3) {
        position: absolute;
        top: 180px;
        left: 346px;
        width: 187px;
        height: 27px;
    }

    .teefsection h5:nth-child(5) {
        position: absolute;
        top: 323px;
        left: 329px;
        width: 151px;
        height: 27px;
    }

    .teefsection h5:nth-child(7) {
        position: absolute;
        top: 471px;
        left: 264px;
        width: 316px;
        height: 27px;
    }

    .teefsection h5:nth-child(9) {
        position: absolute;
        top: 471px;
        left: 815px;
        width: 170px;
        height: 27px;
    }

    .teefsection h5:nth-child(11) {
        position: absolute;
        top: 320px;
        left: 910px;
        width: 223px;
        height: 27px;
    }

    .teefsection h5:nth-child(13) {
        position: absolute;
        top: 180px;
        left: 855px;
        width: 133px;
        height: 27px;
    }

    .teefsection p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        box-sizing: border-box;
    }

    .teefsection p:nth-child(4) {
        position: absolute;
        top: 212px;
        left: 195px;
        width: 338px;
        height: 80px;

    }

    .teefsection p:nth-child(6) {
        position: absolute;
        top: 355px;
        left: 202px;
        width: 283px;
        height: 87px;
    }

    .teefsection p:nth-child(8) {
        position: absolute;
        top: 503px;
        left: 284px;
        width: 295px;
        height: 80px;
    }

    .teefsection p:nth-child(10) {
        position: absolute;
        top: 212px;
        left: 855px;
        width: 308px;
        height: 77px;
    }

    .teefsection p:nth-child(12) {
        position: absolute;
        top: 352px;
        left: 914px;
        width: 291px;
        height: 74px;
    }

    .teefsection p:nth-child(14) {
        position: absolute;
        top: 503px;
        left: 815px;
        width: 290px;
        height: 83px;
    }
}